.mobile-ending {
    width:100%;
    height: 90vw;
    background-color: #f7f9fc;
    .inviteButton {
        display: table;
        width: 70vw;
        height: 20vw;;
        background-color: #143089;
        box-shadow: 7px 10px 0 0 rgba(0, 0, 0, 0.3);
        border-style: solid;
        border-width: 1.3vw;
        border-image-source: linear-gradient(251deg, #3d4c9a, #5a83b8 23%, #9dfffc 39%, #fca197 52%, #fe7faf 66%, #ef46dc 78%, #be29f9 86%, #6226fe);
        border-image-slice: 1;
        margin-bottom: 2em;
      }
    
      .center-button{
        vertical-align:middle;
        text-align:-webkit-center;
        cursor:pointer;
      }
    
      .accept-invite-text {
        display: table-cell;
        vertical-align:middle;
        text-align:center;
        font-family: 'CircularStd-Book';
        font-size: 5vw;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.5vw;
        color: #ffffff;
        text-shadow: 0 3px 0 rgba(0, 0, 0, 0.14);
    
        .container{

          margin-left:7vw;
          display: flex;
        }
        .envelope{
          margin-right:3vw;
          height: 6vw;
        }
      }
      
.ending-button-and-text-container{
}
.ending-sub-header{
    margin-top:5vw;
}
.ending-text-container{
    margin-left:10vw;
    margin-top:10vw;
    text-align: center;
}

.ending-button-container{
    margin-top:13vw;
    margin-left: 15vw;
}

.ending-button-under-text{
    margin-top:5vw;
    font-size: 3vw;
    opacity: 0.69;
    font-family: 'CircularStd-Book';
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.6px;
    text-align: left;
    color: #b6c2c9;
}
.ending-text{
    width:80%;
   font-size: 5vw;
    font-family: 'CircularStd-Book';
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.9px;
    text-align: left;
    color: #5f68b3;
}

.ending-date{
    margin-top: 10vw;
    font-size:4vw;
    font-family: 'CircularStd-Book';
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.6px;
    text-align: left;
    color: #5f68b3;
}

.ending-gray-text{
    color: #b5c4d3;
}
.ending-underline{
    width:55vw;
    height: 0.5vw;
    background-image: linear-gradient(to left, #5826ff, #de2af7 25%, #ff5fc4 47%, #fbb888 63%, #9dfffd 78%, #3c4b99);
}

.hr-seperator{
    margin-left:15vw;
    height: 0.4vw;
    width: 70vw;
    background-color: #e3e7eb;
}

.ending-bottom-container{
    margin-top: 5vw;
}

.ending-header {
    vertical-align:middle;
    text-align:left;
    background-image: linear-gradient(to left,#3a429f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position:relative; 
    font-size: 12vw;
    font-family: 'neo-latina';
  }

  .ending-copyright-contact{
      display: flex;
      margin-top: 10vw;
      margin-bottom: 10vw;
  }
.ending-copyright{
    margin-top:10vw;
    margin-left: 17vw;
    font-size: 4vw;
    font-family: 'CircularStd-Book';
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.6px;
    text-align: left;
    color: #aab7c7;
}

.ending-contact{
    margin-left:20vw;
    .ending-contant-header{
        margin-bottom: 5vw;
        font-size: 4vw;
        font-family: 'CircularStd-Book';
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.6px;
        text-align: left;
        color: #aab7c7;
    }
    .ending-contant-email{
        opacity: 0.7;
        font-family: 'CircularStd-Book';
        font-size: 3vw;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.6px;
        text-align: left;
        color: #aab7c7;
    }
}
.ending-social{
    margin-left:10vw;
    .ending-social-header{
        margin-bottom: 5vw;
        font-size: 4vw;
        font-family: 'CircularStd-Book';
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.6px;
        text-align: left;
        color: #aab7c7;
    }
    .ending-social-icons{
        display: flex;
    }
    .icon{
        height:6vw;
        width:6vw;
        cursor: pointer;
    }
    .first-icon{
        margin-right: 4vw;
    }

}
}

  @font-face {
    font-family: 'CircularStd-Book';
    src: url('../../../public/fonts/CircularStd-Book.woff');
}

@font-face {
    font-family: 'neo-latina';
    src: url('../../../public/fonts/neo-latina.ttf');
}