.ending {
    width:100%;
    height: 30vw;
    background-color: #f7f9fc;
}

.ending-button-and-text-container{
    display: flex;    
}

.ending-text-container{
    margin-top:10vw;
    margin-left:10vw;
    width:50vw;
}

.ending-button-container{
    margin-top:13vw;
}

.ending-button-under-text{
    font-size: 1vw;
    opacity: 0.69;
    font-family: 'CircularStd-Book';
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.6px;
    text-align: left;
    color: #b6c2c9;
}
.ending-text{
    margin-top: 2vw;
   font-size: 1.5vw;
    font-family: 'CircularStd-Book';
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.9px;
    text-align: left;
    color: #5f68b3;
}

.ending-date{
    margin-top: 4vw;
    font-size:1.2vw;
    font-family: 'CircularStd-Book';
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.6px;
    text-align: left;
    color: #5f68b3;
}

.ending-gray-text{
    color: #b5c4d3;
}
.ending-underline{
    margin-left:16.5vw;
    width:15vw;
    height: 0.2vw;
    background-image: linear-gradient(to left, #5826ff, #de2af7 25%, #ff5fc4 47%, #fbb888 63%, #9dfffd 78%, #3c4b99);
}

.hr-seperator{
    margin-left:10vw;
    height: 0.1vw;
    width: 75vw;
    background-color: #e3e7eb;
}

.ending-bottom-container{
    margin-top: 1vw;
}

.ending-header {
    vertical-align:middle;
    text-align:left;
    background-image: linear-gradient(to left, #5826ff, #de2af7 25%, #ff5fc4 47%, #fbb888 63%, #9dfffd 78%, #3c4b99);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position:relative; 
    font-size: 5vw;
    font-family: 'neo-latina';
    filter: drop-shadow(7px 7px 1px rgba(0,0,0, 0.1));
  }

  .ending-copyright-contact{
      display: flex;
      margin-top: 2vw;
  }
.ending-copyright{
    margin-left: 10vw;
    font-size: 1.1;
    font-family: 'CircularStd-Book';
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.6px;
    text-align: left;
    color: #aab7c7;
}

.ending-contact{
    margin-left:45vw;
    .ending-contant-header{
        margin-bottom: 1vw;
        font-size: 1.1vw;
        font-family: 'CircularStd-Book';
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.6px;
        text-align: left;
        color: #aab7c7;
    }
    .ending-contant-email{
        opacity: 0.7;
        font-family: 'CircularStd-Book';
        font-size: 0.9vw;;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.6px;
        text-align: left;
        color: #aab7c7;
    }
}
.ending-social{
    margin-left:3vw;
    .ending-social-header{
        margin-bottom: 1vw;
        font-size: 1.1vw;
        font-family: 'CircularStd-Book';
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.6px;
        text-align: left;
        color: #aab7c7;
    }
    .ending-social-icons{
        display: flex;
    }
    .icon{
        height:1.5vw;
        width:1.5vw;
    }
    .first-icon{
        margin-right: 1vw;
    }
}
  @font-face {
    font-family: 'CircularStd-Book';
    src: url('../../../public/fonts/CircularStd-Book.woff');
}

@font-face {
    font-family: 'neo-latina';
    src: url('../../../public/fonts/neo-latina.ttf');
}