.schedule-background{
    z-index: 1;
    position: absolute;
}

.schedule-bg-bottom-left {
    left:0;
    bottom: 0;
    position: fixed;
    height: 20vw;
    
  }
  
  .schedule-bg-top-right{
    right:0;
    top: 0;
    position: fixed;
    -webkit-transform: scaleX(-1);
    height: 25vw;
  }