.what-is {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(179deg, #9a5b94, #202064);
    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;

    .what-is-container{
      display: inline-grid;
      grid-template-columns: auto auto auto;
      width:50%;
      
    }
    .what-is-text-container {
      margin-top:15vw;
    }
    .what-is-img{
     
    }
    .img {
      height:50vw;
      width: 50vw;
    }
    
     .what-is-text-container-first{
     }
    
    .what-is-header{
        background-image: linear-gradient(to right, #ffae91, #f68efe 54%, #8f5eff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 4vw;
        font-family: 'neo-latina';
        text-align: left;
      }
    
    
    .what-is-line {
      margin-bottom: 1em;
        text-align: center;
        width: 3vw;
        height: 0.2vw;
        border-radius: 3.5px;
        background-image: linear-gradient(to right, #ffae91, #f68efe 54%, #8f5eff);
      }
    
      .first-paragraph {
        margin-bottom: 0.5em;
        width: 25em;
        height: 3em;
        font-family: 'CircularStd-Book';
        font-size: 1.5vw;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.46;
        letter-spacing: -1px;
        text-align: left;
        color: #8c8bcb;
      }
    
      .second-paragraph {
        width: 25em;
        height: 3em;
        opacity: 0.75;
        font-family: 'CircularStd-Book';
        font-size: 1.2vw;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.75;
        letter-spacing: -0.8px;
        text-align: left;
        color: #b9bfee;
      }
    
      .line-seperator{
        margin-bottom: 0.5em;
        height: 1px;
        background-color: #4a4399;
      }
    
  }


  @font-face {
    font-family: 'CircularStd-Book';
    src: url('../../../public/fonts/CircularStd-Book.woff');
}

@font-face {
    font-family: 'neo-latina';
    src: url('../../../public/fonts/neo-latina.ttf');
}
