html, body{
    height: 100%;
    margin:0px;
    padding: 0px;
    background-color: #f7f9fc;
  }

.mobile-invite {
    width: 100%;
    height: 270vw;
    background-image: linear-gradient(to bottom, #293da2, #042578);
    box-shadow: 0 9px 4px 0 rgba(0, 0, 0, 0.5);
    display: table;

    .header{
        margin-top:20vw;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -3.1px;
        text-align: center;
        vertical-align:middle;
        text-align:center;
        color: #ffffff;
        font-size: 15vw;
        font-family: 'neo-latina';
    }
    .minor-header{
        margin-top:16vw;
        margin-left:15vw;
        position: relative;
        opacity: 0.99;
        color: #ffffff;
        vertical-align:middle;
        text-align:center;
        width:70vw;
        font-size: 5vw;
        font-family: 'CircularStd-Book';
    }
    .th {
        margin-top: 3vw;
        margin-bottom: 2em;
        font-family: 'CircularStd-Book';
        font-size: 4vw;
        font-weight: 500;
        letter-spacing: -0.8px;
        text-align: left;
        color: #ffffff;
        vertical-align:middle;
        text-align:center;
      }

      .th .text-style-1 {
        position: relative;
        font-weight: normal;
        color: rgba(255, 255, 255, 0.5);
      }

      .th .text-style-2 {
        font-weight: normal;
      }

  .must-have {
    vertical-align:middle;
    text-align:center;
    width:70vw;
    margin-left:15vw;
    opacity: 0.7;
    font-family: 'CircularStd-Book';
    font-size: 4vw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #ffffff;
    margin-bottom: 10vw;
  }

  .inviteButton {
    display: table;
    width: 70vw;
    height: 15vw;
    background-color: #143089;
    box-shadow: 7px 10px 0 0 rgba(0, 0, 0, 0.3);
    border-style: solid;
    border-width: 4px;
    border-image-source: linear-gradient(251deg, #3d4c9a, #5a83b8 23%, #9dfffc 39%, #fca197 52%, #fe7faf 66%, #ef46dc 78%, #be29f9 86%, #6226fe);
    border-image-slice: 1;
    margin-bottom: 2em;
  }

  .center-button{
    vertical-align:middle;
    text-align:-webkit-center;
    cursor:pointer;
  }

  .accept-invite-text {
    display: table-cell;
    vertical-align:middle;
    text-align:center;
    font-family: 'CircularStd-Book';
    font-size: 4vw;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #ffffff;
    text-shadow: 0 3px 0 rgba(0, 0, 0, 0.14);

    .container{
      margin-left:15vw;
      display: flex;
    }
    .envelope{
      margin-right:3vw;
      height: 5vw;
    }
  }
  }

  @font-face {
    font-family: 'CircularStd-Book';
    src: url('../../../public/fonts/CircularStd-Book.woff');
}

@font-face {
    font-family: 'neo-latina';
    src: url('../../../public/fonts/neo-latina.ttf');
}
