.mobile-speaker-container{
    position: relative;

    .speaker-img-container{
        width:100vw;
    }
    
    .speaker-text-container{
        position: absolute;
        bottom:25vw;
        left:20vw;
    }
    
    .speaker-name-header{
        font-family: 'neo-latina';
        font-size: 8vw;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -1.1px;
        text-align: left;
        color: #ffffff;
    }
    .speaker-position-header{
        opacity: 0.88;
        font-family: 'CircularStd-Book';
        font-size: 3.5vw;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.4px;
        text-align: left;
        color: #ffffff;
    }
    
}

@font-face {
    font-family: 'CircularStd-Book';
    src: url('../../../../public/fonts/CircularStd-Book.woff');
}

@font-face {
    font-family: 'neo-latina';
    src: url('../../../../public/fonts/neo-latina.ttf');
}