.bio {
    width: 100%;
    height: 50vw;
    background-image: linear-gradient(182deg, #3a429f, #291f5a);
    transform:skewY(-10deg);

    .bio-container{
      display: flex;
    }

  .bio-text-container {
    margin-top: 15vw;
    margin-left:15vw;
    transform:skewY(10deg);
    display: inline-block;

  }
  .bio-lower-title {
    display: flex;
  }

  .bio-title {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'neo-latina';
    font-size:5vw;
    background-image: linear-gradient(to left, #9165ee, #ae52d9 55%, #cd29ee);
  }

  .bio-title-line{
    margin-left:1vw;
    margin-top:2vw;
    width:14vw;
    height:0.4vw;
    object-fit: contain;
    border-radius: 3.5px;
    background-image: linear-gradient(to left, #c92feb, #8a5fe3);
  }

  .bio-paragraph {
    width: 35vw;
    font-size: 1vw;
    font-family: 'CircularStd-Book';
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: -0.6px;
    text-align: left;
    color: #b9bfee;
  }
  .bio-button{
    cursor: pointer;
    margin-top: 3vw;
    height: 3vw;
    width:15vw;
    background-color: #302e77;
    box-shadow: 4px 5px 0 0 rgba(0, 0, 0, 0.15);
    border: solid 2px #605ea6;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bio-button-text{
    font-size: 1vw;
    font-family: 'CircularStd-Book';
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    color: #ffffff;

  }
  .bio-img-container{
    transform:skewY(10deg);
    margin-left:2vw;
    margin-top:5vw;
  }

  .bio-img{
  height: 35vw;
  width: 40vw;
  filter: drop-shadow(5vw 5vw 1vw rgba(0,0,0, 0.2));
  }
  .bio-address-container{
    transform: rotate(-10deg);
    display: flex;
  }

  .bio-address-location{
    height: 1.5vw;
    width: 1.5vw;
  }
  .bio-address-text{
    display: flex;
    margin-left:0.5vw;
    font-family: 'CircularStd-Book';
    font-size: 1.5vw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.6px;
    color: rgba(255, 255, 255, 0.8);
  }

  .bio-text-highlight{
    font-weight: 500;
    color: #ffffff;
    margin-right:0.5vw;
  }

  .bio-text-underline {
    margin-top:2vw;
    margin-left:2vw;
    transform: rotate(-10deg);
    width:23vw;
    height:0.1vw;
    object-fit: contain;
    border-radius: 3.5px;
    background-image: linear-gradient(to left, #c92feb, #8a5fe3);
  }
  }





@font-face {
  font-family: 'CircularStd-Book';
  src: url('../../../public/fonts/CircularStd-Book.woff');
}

@font-face {
  font-family: 'neo-latina';
  src: url('../../../public/fonts/neo-latina.ttf');
}
