.schedule {
    width: 100%;
    height: 70vw;
    background-image: linear-gradient(2deg, #424995, #8456b9);
    transform:skewY(-10deg);
  }

  .schedule-align{
    transform:skewY(10deg);
  }

  .schedule-days{
    margin-top: 15vw;
    margin-left : 17vw;
    display: flex;
    
  }

  .day-1{
    margin-left: 4vw;
  }

  .day-2{
    margin-left: 4vw;
  }

  .day-3{
    margin-left: 4vw;
  }