.login-input-container {
    margin-top:3vw;
    margin-left:35vw;
    .input-container {
        
    }
    
}

.access-input {
    height:3.5vw;
    width:25vw;
    border-width: 0.2vw 0vw 0.2vw 0.2vw;
    background-color: #0c1d54;
    border-image-source: linear-gradient(to right, #3d4c9a, #5a83b8, #9dfffc , #fca197 , #fe7faf , #ef46dc , #be29f9 , #6226fe);    
    border-image-slice: 1;
    text-indent: 4vw;
    background-image: url('../../../public/images/lock.svg') ;
    background-repeat: no-repeat;
    background-size: 1.5vw 1.5vw;
    background-position-y: 1vw;
    background-position-x: 2vw;
    color: #ffffff;
    outline:0;
}
.access-input::-webkit-input-placeholder{
    font-family: Helvetica;
    font-size: 1vw;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.88;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.login-input-container input.access-input {

    // background-image: url('../../../public/images/lock.svg');
    // background-repeat: no-repeat;
}

.enter-button{
    border-width: 0.2vw 0.2vw 0.2vw 0vw;
    border-image-source: linear-gradient(to right, #3d4c9a, #5a83b8, #9dfffc , #fca197 , #fe7faf , #ef46dc , #be29f9 , #6226fe);    
    border-image-slice: 1;
    cursor: pointer;
    background-color: #0c1d54;
    font-family: Helvetica;
    font-size: 0.6vw;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: normal;
    text-align: center;
    color: #afede9;
    width:5vw;
}
.enter-button:focus {
    outline:0;
    
}

.btn-seperator {
    margin-top:0.7vw;
    width: 0.1vw;
    height: 2vw;
    object-fit: contain;
    background-color: #35477f;
}