
.login-page html, body{
    height: 100%;
    margin:0px;
    padding: 0px;
    background-image: linear-gradient(to left, #293da2, #042578);
  }



.particles {
    position: absolute;
    width: 100%;
    z-index: 1;
  }



  html, body{
    height: 100%;
    margin:0px;
    padding: 0px;
    background-color: #f7f9fc;
  }

.login-page {
    width: 100%;
    height: 100%;
    display: table;

    
  .header {
    margin-top: 10vw;
    vertical-align:middle;
    text-align:center;
    background-image: linear-gradient(to left, #9d26ff, #de2af7 9%, #ff5fc4 18%, #fbb888 33%, #9dfffd 73%, #6378e8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position:relative; 
    font-size: 5vw;
    font-family: 'neo-latina';
    filter: drop-shadow(7px 7px 1px rgba(0,0,0, 0.5));
  }
  .invite-content {
    display: block;
    z-index: 5;
    position: relative;
  }

  .canvas{
    
  }
  .particles {
    position: absolute;
    width: 100%;
    z-index: 1;
    height: 95%;
  }


  .minor-header {
    margin-top: 0.7em;
    opacity: 0.99;
    background-image: linear-gradient(to right, #9d26ff, #de2af7 9%, #ff5fc4 18%, #fbb888 33%, #9dfffd 73%, #6378e8);
    vertical-align:middle;
    text-align:center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.3vw;
    font-family: 'CircularStd-Book';
  }

  .th {
    margin-top: 0.7em;
    margin-bottom: 2em;
    font-family: 'CircularStd-Book';
    font-size: 1.3vw;
    font-weight: 500;
    letter-spacing: -0.8px;
    text-align: left;
    color: #ffffff;
    vertical-align:middle;
    text-align:center;
  }
  
  .th .text-style-1 {
    position: relative;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
  }
  
  .th .text-style-2 {
    font-weight: normal;
  }

  .must-have {
    vertical-align:middle;
    text-align:center;
    opacity: 0.7;
    font-family: 'CircularStd-Book';
    font-size: 0.9vw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #ffffff;
    margin-bottom: 10em;
    width:20vw;
    margin-left:40vw;
  }

  }




@font-face {
    font-family: 'CircularStd-Book';
    src: url('../../../public/fonts/CircularStd-Book.woff');
}

@font-face {
    font-family: 'neo-latina';
    src: url('../../../public/fonts/neo-latina.ttf');
}