.mobile-topic-title-container{
    margin-top: 15vw;
    
    .topic-header{
        font-family: 'neo-latina';
        color: #ffffff;
        font-size: 12vw;
        text-align: center;
    }
    
    .topic-underline{
        margin-left: 43vw;
        margin-top: 3vw;
        text-align: center;
        width: 14vw;
        height: 1vw;
        border-radius: 3.5px;
        background-image: linear-gradient(to right, #ffffff);
    }
    
    .topic-paragraph {
        width: 90%;
        margin-top:5vw;
        margin-left:5vw;
        font-size: 5vw;
        font-family: 'CircularStd-Book';
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: -0.9px;
        text-align: left;
        color: #c6eced;
        margin-bottom: 2vw;
        display: inline-block;
    }
    
    
}


.mobile-single-topic-container{
    margin-bottom: 15vw;
    position: relative;


    .single-topic-img{
        width:20vw;
        height: 20vw;
        margin-left:40vw;
    }
    .single-topic-text-container{
    }
    .single-topic-title{
        font-family: 'CircularStd-Book';
        font-size: 5vw;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -1px;
        text-align: center;
        color: #ffffff;
    }
    .single-topic-paragraph-content{
        margin-left:5vw;
        width:90%;
        font-family: 'CircularStd-Book';
        font-size: 5vw;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.41;
        letter-spacing: -1px;
        text-align: center;
        color: #a3d3f1;
        margin-bottom:4vw; 
    }
}

@font-face {
    font-family: 'CircularStd-Book';
    src: url('../../../../public/fonts/CircularStd-Book.woff');
}

@font-face {
    font-family: 'neo-latina';
    src: url('../../../../public/fonts/neo-latina.ttf');
}